<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="suggestions">
		<div class="suggestions-list" th:if="${not #lists.isEmpty(universities)}">
			<button 
				th:each="university : ${universities}" 
				th:text="${university.name}" 
				class="suggestion-item"
				onclick="selectSuggestion(this, 'universityInput')" 
				type="button"
			></button>
		</div>
		<div class="suggestions-list" th:if="${#lists.isEmpty(universities)}">
			<div class="no-suggestions">Ваш университет не найден</div>
		</div>
	</div>
	<div th:fragment="start-typing">
		<div class="no-suggestions">Начните печатать...</div>
	</div>
</body>

</html>